/* <<<<<<<< Import File Css >>>>>>>> */
@import url(./reset.css);
/* <<<<<<<< Import File Css>>>>>>>> */

/* <<<<<<<< Import Font >>>>>>>> */
@font-face {
    font-family: iranRegular;
    src: url(../font/IRANSansX-Regular.woff);
}
@font-face {
    font-family: iranBold;
    src: url(../font/IRANSansX-Bold.woff);
}
@font-face {
    font-family: iranBlack;
    src: url(../font/IRANSansX-Black.woff);
}
/* <<<<<<<< Import Font >>>>>>>> */

/* <<<<<<<< Root === Variable >>>>>>>> */
:root{
    --font-regular: iranRegular;
    --font-bold: iranBold;
    --font-Black: iranBlack;

    --color-bg :#F9FAFB;
    --color-text-1 : #1E293B;
    --color-text-2 : #475D85;
    --color-blue-1: #0179D9;
    --color-blue-2: #1A88DB;
    --color-blue-3: #EFF6FF;
    --color-blue-3: #DBEAFE;
    --color-purple-1: #94A3B8;
    --color-green-1: #28B85D;
    --color-green-2: #16A34A;
    --color-green-3: #F0FDF4;
    --color-green-4:#DCFCE7;    
}
/* <<<<<<<< Root === Variable >>>>>>>> */
/* <<<<<<<<>>>>>>>> */
/* <<<<<<<<>>>>>>>> */
/* <<<<<<<<>>>>>>>> */
/* <<<<<<<<>>>>>>>> */
/* <<<<<<<<>>>>>>>> */
/* <<<<<<<<>>>>>>>> */