/* <<<<<<<< Import File Css >>>>>>>> */
@import url(./reset.css);
/* <<<<<<<< Import File Css>>>>>>>> */

/* <<<<<<<< Import Font >>>>>>>> */
@font-face {
    font-family: iranRegular;
    src: url(../font/IRANSansX-Regular.woff);
}
@font-face {
    font-family: iranBold;
    src: url(../font/IRANSansX-Bold.woff);
}
@font-face {
    font-family: iranBlack;
    src: url(../font/IRANSansX-Black.woff);
}
/* <<<<<<<< Import Font >>>>>>>> */

/* <<<<<<<< Root === Variable >>>>>>>> */
:root{
    --font-regular: iranRegular;
    --font-bold: iranBold;
    --font-Black: iranBlack;

    --color-bg :#F9FAFB;
    --color-text-1 : #1E293B;
    --color-text-2 : #475D85;
    --color-blue-1: #0179D9;
    --color-blue-2: #1A88DB;
    --color-blue-3: #EFF6FF;
    --color-blue-4: #DBEAFE;
    --color-purple-1: #94A3B8;
    --color-green-1: #28B85D;
    --color-green-2: #16A34A;
    --color-green-3: #F0FDF4;
    --color-green-4:#DCFCE7;    
}
/* <<<<<<<< Root === Variable >>>>>>>> */

/* <<<<<<<< Style Body >>>>>>>> */
body{
    margin: 0;
    padding: 0;
    font-family: var(--font-regular);
    font-size: 1rem;
    font-weight: bold;
}
/* <<<<<<<< Style Body >>>>>>>> */

/* <<<<<<<< Containers >>>>>>>> */
.containers{
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
/* <<<<<<<< Container >>>>>>>> */


/* <<<<<<<< Button border blue  >>>>>>>> */
.button_br_blue{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 120px;
    height: 3rem;
    color: var(--color-text-1);
    border: 2px solid var(--color-blue-1);
    border-radius: 0.6rem;
    transition: 0.4s ease-in;
}
.button_br_blue:hover{
    background-color: var(--color-blue-1);
    color: var(--color-bg);
}
/* <<<<<<<< Button border blue  >>>>>>>> */

/* <<<<<<<< Title-Right  >>>>>>>> */
.title_right{
    display: block;
}
.title_right_text{
 font-size: 1.1rem;
 font-weight: bold;
 color: var(--color-text-2);
}
.title_right_title{
    display: block;
    margin-block: 0.7rem ;
    font-family: var(--font-Black);
    font-size: 2.2rem;
}
.title_right_desc{
    font-size: 0.9rem;
    margin-top: 1rem;
    color: var(--color-text-2);
    line-height: 1.6;
}
/* <<<<<<<< Title-Right  >>>>>>>> */

/* <<<<<<<< Title center  >>>>>>>> */
.title_center{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.title_center_title{
    display: block;
    font-family: var(--font-Black);
    font-size: 2.3rem;
    color: var(--color-text-1);
}
.title_center_desc{
    display: block;
    font-size: 1rem;
    color: var(--color-text-2);
}
/* <<<<<<<< Title center  >>>>>>>> */

/* <<<<<<<< Button background Green  >>>>>>>> */
    .button_bg_green{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 120px;
        height: 2.5rem;
        border-radius: 0.5rem;
        font-weight: 600;
        color: var(--color-green-1);
        background-color: var(--color-green-3);
        transition: 0.3s ease-in;
    }
    .button_bg_green:hover{
        background-color: var(--color-green-4);
    }
/* <<<<<<<< Button background Green  >>>>>>>> */

/* <<<<<<<< Button background Blue  >>>>>>>> */
.button_bg_blue{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 120px;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    color: var(--color-blue-1);
    background-color: var(--color-blue-3);
    transition: 0.3s ease-in;
}
.button_bg_blue:hover{
    background-color: var(--color-blue-4);
}
/* <<<<<<<< Button background Blue  >>>>>>>> */


/* <<<<<<<< Style Navbar >>>>>>>> */
.navBar{
    display: block;
    width: 100%;

}
.navbar_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.navbar_right{
    display: flex;
}
.navbar_link_logo{
    display: flex;
    align-items: center;
}
.navbar_img{
    width: 100%;
}
.navbar_img:first-child{
    margin: 0.4rem;
}

.navbar_items_menu{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.navbar_item_menu{
    margin-left: 2rem;
}
.navbar_item_menuLink{
    text-decoration: none;
    color: var(--color-text-2);
    transition: 0.4s ease-in;
}
.navbar_item_menuLink:hover{
    color: var(--color-text-1);
}
.navbar_left{
    display: flex;
    align-items:center;
}


.navbarRes{
    display: block;
  width: 100%;
}
.navbarRes_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 2rem 0;
 }
.navbarRes_right{
display: block;
}
.navbarRes_logo_link{
    display: flex;
    align-items: center;
}
.navbarRes_logo_img{
    width: 100%;
}
.navbarRes_logo_img:first-child{
    margin-left: 0.3rem;
    width: 100%;
}

.navbarRes_left{
    display: block;
}
.navbarRes_icon{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbarRes_icon i{
    font-size: 1.7rem;
    color: var(--color-text-2);

    transition: 0.4s ease-in;
}
.navbarRes_icon i:hover{
    color: var(--color-text-1);
}

.navbarRes_items_menu{
    display: block;
    padding: 1rem;
    position: absolute;
    top: 4rem;
    right: -1000px;
    width: 100%;
   background-color: var(--color-bg);
   transition: 0.5s linear;
}
.showMenu{
    right: 0;
}
.navbarRes_item_menu{
    margin-bottom: 1.5rem;
}
.navbarRes_item_menuLink{
    text-decoration: none;
    color: var(--color-text-2);
    transition: 0.4s ease-in;
}
.navbarRes_item_menuLink:hover{
    color: var(--color-text-1);
}
.navbarRes_contact_link{
    width: 100%;
}
/* <<<<<<<< Style Navbar >>>>>>>> */

/* <<<<<<<< Section Introduction >>>>>>>> */
.intro{
    display: block;
    width: 100%;
    background-color: var(--color-bg);
}
.intro_content{
display: block;
margin-top: 7rem;
}
.intro_content_title{
display: block;
font-family: var(--font-Black);
font-size:4rem;
}
.intro_content_title span{
    font-family: var(--font-Black);
font-size: 4rem;
color: var(--color-green-1);
}
.intro_content_desc{
    display: block;
    font-size: 1rem;
    margin-top: 2rem;
    color: var(--color-text-2);
}
.intro_content_contact{
    margin-top: 2rem;
}
.intro_img{
    display: block;
    padding-top: 2rem;
    margin: 0 auto;
    width: 300px;
}
/* <<<<<<<< Section Introduction >>>>>>>> */

/* <<<<<<<< Section Trusted >>>>>>>> */
.trust{
    display: block;
    width: 100%;
    margin-top: 5rem;
}
.trust_title{
    display: block;
    width: 100%;
    text-align: center;
    font-family: var(--font-Black);
    font-size: 2rem;
    color: var(--color-text-1);
}
.trust_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.trust_img{
    width: 80px;
    margin-bottom: 1rem;
}
/* <<<<<<<< Section Trusted >>>>>>>> */

/* <<<<<<<< Section Product Features >>>>>>>> */
.productFeatures{
    display: block;
    width: 100%;
    margin-top: 5rem;
}
.productFeatures_link{
    margin-top: 1rem;
}
/* <<<<<<<< Section Product Features >>>>>>>> */
/* <<<<<<<<>>>>>>>> */
/* <<<<<<<<>>>>>>>> */